<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.whole.lang.deployers">
      <deployer
            desc="Whole GEN Operations Deployer"
            class="org.whole.gen.lang.reflect.GenOperationsDeployer"
            id="org.whole.gen.lang.reflect.JDTOperationsDeployer">
      </deployer>
   </extension>

	<extension
			point="org.whole.lang.ui.resourceBindingsContributors">
		<resourceBindingsContributor
			class="org.whole.gen.util.JDTResourceBindingsContributor"
			id="JDTResourceBindingsContributor"/>
	</extension>

	<extension
			point="org.eclipse.jdt.core.classpathContainerInitializer">
		<classpathContainerInitializer
			class="org.whole.lang.ui.util.PlatformLibraryContainerInitializer"
			id="org.whole.lang.ide.WHOLERT_CONTAINER"/>
	</extension>

</plugin>
