<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     <extension
         point="org.whole.lang.deployers">
      <deployer
            desc="Core Languages UI Deployer"
            class="org.whole.langs.core.ui.CoreUIDeployer"
            id="org.whole.langs.core.ui.CoreUIDeployer">
      </deployer>
	</extension>
</plugin>
