<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.whole.lang.deployers">
      <deployer
            desc="Whole Legacy Languages Deployer"
            class="org.whole.langs.legacy.LegacyLanguagesDeployer"
            id="org.whole.langs.legacy.LegacyLanguagesDeployer">
      </deployer>
      <deployer
            desc="Whole Legacy Dynamic Languages Deployer"
            class="org.whole.langs.legacy.LegacyDynamicLanguagesDeployer"
            id="org.whole.langs.legacy.LegacyDynamicLanguagesDeployer">
      </deployer>
      <deployer
            desc="Whole Legacy Meta Models Deployer"
            class="org.whole.langs.legacy.LegacyMetaModelsDeployer"
            id="org.whole.langs.legacy.LegacyMetaModelsDeployer">
      </deployer>
      <deployer
            desc="Persistence Library Deployer"
            class="org.whole.lang.PersistenceLibraryDeployer"
            id="org.whole.lang.PersistenceLibraryDeployer">
      </deployer>
   </extension>
</plugin>
