<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
			point="org.whole.lang.deployers">
		<deployer
				desc="Actions E4 Deployer"
				class="org.whole.lang.e4.actions.ActionsE4Deployer"
				id="org.whole.lang.e4.actions.ActionsE4Deployer">
		</deployer>
	</extension>

	<extension
   	     point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			priority="high"
		        name="ObjectiveC Source File (Whole)"
		        id="org.whole.ui.contenttype.contentTypes.objectivecWhole"
		        base-type="org.eclipse.core.runtime.text"
		        file-extensions="h,m,c">
		</content-type>
		<content-type
		        id="org.whole.ui.contenttype.contentTypes.mediawikiSource"
		        name="Mediawiki Source File (Whole)" 
			    base-type="org.eclipse.core.runtime.text"
			    alias-for="org.eclipse.mylyn.wikitext.mediawiki"
			    file-extensions="mediawiki">
		</content-type>

		<content-type
		 		priority="high"
		        id="org.whole.ui.contenttype.contentTypes.xmlWhole"
		        name="XML Whole File"
		        base-type="org.eclipse.core.runtime.xml"
		        default-charset="UTF-8"
		        file-extensions="xwl">
		</content-type>
		
		<content-type
		        id="org.whole.ui.contenttype.contentTypes.javaSource"
		        name="Java Source File (Whole)" 
			    base-type="org.eclipse.core.runtime.text"
			    alias-for="org.eclipse.jdt.core.javaSource"
			    file-extensions="java">
		</content-type>
		<content-type
		        id="org.whole.ui.contenttype.contentTypes.javaScriptSource"
		        name="JavaScript Source File (Whole)" 
			    base-type="org.eclipse.core.runtime.text"
			    alias-for="org.eclipse.wst.jsdt.core.jsSource"
			    file-extensions="js">
		</content-type>

		<content-type
		        id="org.whole.ui.contenttype.contentTypes.javaWhole"
		        name="Java Whole File"
		        base-type="org.eclipse.core.runtime.text"
			    alias-for="org.eclipse.jdt.core.javaSource"
		        file-extensions="java">
		</content-type>

		<content-type
				id="org.whole.ui.contenttype.contentTypes.properties"
				name="Properties Whole File" 
		        base-type="org.eclipse.core.runtime.text"
		        alias-for="org.eclipse.jdt.core.javaProperties"
		        default-charset="ISO-8859-1"
		        file-extensions="properties">
		</content-type>
   </extension>

	<extension point="org.eclipse.ui.importWizards">
		<category id="org.whole.lang.ui.wizards" name="Whole"/>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category name="Whole" id="org.whole.lang.ui.WholeWizards"/>

		<wizard id="org.whole.lang.ui.wizards.WholeModelCreationWizard"
			name="%_UI_WholeModel_title"
			icon="icons/wizards/whole_model_creation.gif"
			class="org.whole.lang.ui.wizards.WholeModelCreationWizard"
			category="org.whole.lang.ui.WholeWizards">

			<description>%_UI_WholeModel_description</description>
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.console.consoleFactories">
		<consoleFactory
			label="Whole Console"
			icon="icons/views/console.gif"
			class="org.whole.lang.ui.console.WholeConsoleFactory">
		</consoleFactory>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page name="Whole"
			class="org.whole.lang.ui.preferences.WholeWorkbenchPreferencePage"
			id="org.whole.lang.ui.preferences.WholeWorkbenchPreferencePage">
		</page>
		<page name="Whole Languages"
			category="org.whole.lang.ui.preferences.WholeWorkbenchPreferencePage"
			class="org.whole.lang.ui.preferences.EditorWorkbenchPreferencePage"
			id="org.whole.lang.ui.preferences.EditorWorkbenchPreferencePage">
		</page>
	</extension>

	<extension
			point="org.eclipse.ui.views">
		<category
				name="Whole"
				id="org.whole.lang.ui.views.category">
		</category>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.palette"
				class="org.whole.lang.e4.ui.compatibility.PaletteViewPart"
				icon="icons/views/whole.gif"
				name="Palette"
				restorable="true">
		</view>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.details"
				class="org.whole.lang.e4.ui.compatibility.DetailsViewPart"
				icon="icons/views/whole.gif"
				name="Details"
				restorable="true">
		</view>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.map"
				class="org.whole.lang.e4.ui.compatibility.MapViewPart"
				icon="icons/views/whole.gif"
				name="Map"
				restorable="true">
		</view>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.index"
				class="org.whole.lang.e4.ui.compatibility.IndexViewPart"
				icon="icons/views/index.gif"
				name="Index"
				restorable="true">
		</view>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.results"
				class="org.whole.lang.e4.ui.compatibility.ResultsViewPart"
				icon="icons/views/whole.gif"
				name="Results"
				restorable="true">
		</view>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.debug"
				class="org.whole.lang.e4.ui.compatibility.DebugViewPart"
				icon="icons/views/debug.gif"
				name="Debug"
				restorable="true">
		</view>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.variables"
				class="org.whole.lang.e4.ui.compatibility.VariablesViewPart"
				icon="icons/views/variables.gif"
				name="Variables"
				restorable="true">
		</view>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.context"
				class="org.whole.lang.e4.ui.compatibility.ContextViewPart"
				icon="icons/views/context.gif"
				name="Context"
				restorable="true">
		</view>
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.sample"
				class="org.whole.lang.e4.ui.compatibility.SampleViewPart"
				icon="icons/views/sample.gif"
				name="Sample"
				restorable="true">
		</view>
		
		<view
				category="org.whole.lang.ui.views.category"
				id="org.whole.lang.e4.ui.part.outline"
				class="org.whole.lang.e4.ui.compatibility.OutlineTreeViewPart"
				icon="icons/views/whole.gif"
				name="Outline"
				restorable="true">
		</view>
	</extension>
	
	<extension
			point="org.eclipse.ui.editors">
		<editor
				name="Object Persistence"
				extensions="ser"
				icon="icons/editors/object.gif"
				default="true"
				class="org.whole.lang.e4.ui.compatibility.EditorPart"
				id="org.whole.lang.ObjectEditor">
		</editor>

		<!--editor
		name="XML Beans Persistence"
		extensions="xwl,xml"
		icon="icons/editors/xml_beans.gif"
		default="false"
		contributorClass="org.whole.lang.e4.ui.compatibility.EditorPart"
		id="org.whole.lang.XmlBeansEditor">
		<contentTypeBinding contentTypeId="org.eclipse.core.runtime.xml"/>
		</editor-->
		
		<!--editor
		name="Datatype Persistence"
		extensions="data,text,txt"
		icon="icons/editors/datatype.gif"
		default="false"
		contributorClass="org.whole.lang.e4.ui.compatibility.EditorPart"
		id="org.whole.lang.DataTypeEditor">
		<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text"/>
		</editor-->

      <editor
            name="Grammar Based Persistence"
            extensions="text,txt,flf,csv"
            default="false"
            icon="icons/editors/grammar.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.grammars.GrammarEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.text"/>
      </editor>
      <editor
            name="Objective C Editor (Whole)"
            default="false"
            extensions="h,m,c"
            icon="icons/editors/grammar.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.objectivec.ObjectiveCEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.objectivecWhole"/>
      </editor>
      <editor
            name="MediaWiki Editor (Whole)"
            default="false"
            extensions="mediawiki"
            icon="icons/editors/grammar.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.mediawiki.MediaWikiEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.mediawikiSource"/>
      </editor>
      <editor
            name="Java Editor (Whole)"
            extensions="java"
            default="false"
            icon="icons/editors/java_source.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.java.JavaSourceEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.javaSource"/>
      </editor>
      <editor
            name="Java Builder Persistence"
            extensions="java"
            icon="icons/editors/java_builder.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.java.JavaBuilderEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.javaWhole"/>
      </editor>
      <editor
            name="JSON Editor (Whole)"
            extensions="json,jsonld"
            default="false"
            icon="icons/editors/json_source.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.json.JSONSourceEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.text"/>
      </editor>
      <editor
            name="JSON-LD Editor (Whole)"
            extensions="jsonld,json"
            default="false"
            icon="icons/editors/json_source.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.json.JSONLDEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.text"/>
      </editor>
      <editor
            name="XML Editor (Whole)"
            extensions="xml"
            icon="icons/editors/xml_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.xml.XmlSourceEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.xml"/>
      </editor>
      <editor
            name="XML Builder Persistence"
            extensions="xwl,xml"
            icon="icons/editors/xml_builder.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.xml.XmlBuilderEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.xmlWhole"/>
      </editor>
      <editor
            name="XML Adaptive Builder Persistence"
            extensions="xwl,xml"
            icon="icons/editors/xml_builder.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.entities.XmlAdaptiveBuilderEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.xmlWhole"/>
      </editor>
      <editor
            name="Text Editor (Whole)"
            extensions="text,txt,csv,flf"
            icon="icons/editors/text_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.text.TextSourceEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.text"/>
      </editor>
      <editor
            name="Text Properties Editor"
            extensions="properties"
            icon="icons/editors/properties_text.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.properties.PropertiesTextEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.properties"/>
      </editor>
      <editor
            name="XML Properties Editor"
            extensions="xml"
            icon="icons/editors/properties_xml.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.properties.PropertiesXmlEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.xml"/>
      </editor>
      <editor
            name="XSD Editor"
            extensions="xsd"
            icon="icons/editors/xml_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.xsd.XsdSourceEditor">
      </editor>
      <editor
            name="XSI Editor"
            extensions="xml"
            icon="icons/editors/xml_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.xsd.XsiSourceEditor">
      </editor>
      <editor
            name="JavaScript Editor (Whole)"
            extensions="js"
            default="false"
            icon="icons/editors/javascript_source.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.java.JavaScriptSourceEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.javaScriptSource"/>
      </editor>
      <editor
            name="HTML5 Editor (Whole)"
            extensions="html,htm"
            icon="icons/editors/html5_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.html.Html5Editor">
      </editor>
	</extension>

	<extension
			point="org.eclipse.compare.contentMergeViewers">
		<viewer
				class="org.whole.lang.e4.ui.compatibility.ModelMergeViewerCreator"
				extensions="xwl"
				id="org.whole.lang.e4.ui.compatibility.ModelMergeViewerCreator"
				label="Whole Model Compare">
		</viewer>
		<contentTypeBinding
				contentTypeId="org.whole.ui.contenttype.contentTypes.xmlWhole"
				contentMergeViewerId="org.whole.lang.e4.ui.compatibility.ModelMergeViewerCreator">
		</contentTypeBinding>
	</extension>

	<extension
			point="org.eclipse.ui.menus">
	
		<menuContribution
				locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar
					id="org.whole.lang.e4.ui.compatibility.toolbar"
					label="Whole Toolbar">
			<control class="org.whole.lang.e4.ui.compatibility.ZoomControlContribution" />
			<command
					commandId="org.whole.lang.e4.ui.command::validateModel"
					icon="icons/actions/validate.gif"
					label="Validate Model"
					style="push"
					tooltip="Validates the active model"/>
			<command
					commandId="org.whole.lang.e4.ui.command::normalizeModel"
					icon="icons/actions/normalize.gif"
					label="Normalize Model"
					style="push"
					tooltip="Normalizes the active model"/>
			<command
					commandId="org.whole.lang.e4.ui.command::prettyPrintModel"
					icon="icons/actions/pretty_print.gif"
					label="Pretty Print Model"
					style="push"
					tooltip="Pretty Prints the active model"/>
			<command
					commandId="org.whole.lang.e4.ui.command::interpretModel"
					icon="icons/actions/interpret.gif"
					label="Interpret Model"
					style="push"
					tooltip="Interprets the active model"/>
			<command
					commandId="org.whole.lang.e4.ui.command::generateArtifacts"
					icon="icons/actions/generate_artifacts.gif"
					label="Generate Artifacts"
					style="push"
					tooltip="Generates Artifacts for the active model"/>
			<command
					commandId="org.whole.lang.e4.ui.command::generateJava"
					icon="icons/actions/generate_java.gif"
					label="Generates Java Classes"
					style="push"
					tooltip="Generates Java Classes for the active model"/>
			</toolbar>
		</menuContribution>
	</extension>
	
	<extension
			id="commandContributions"
			point="org.eclipse.e4.workbench.model">
		<processor
				beforefragment="false"
				class="org.whole.lang.e4.ui.addon.CommandProcessor">
		</processor>
	</extension>
</plugin>
