<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension	point="org.eclipse.ui.commands">
		<category
				name="Whole Examples deployers" 
				id="org.whole.lang.ui.category.static.deployers"/>
		<command
				name="Activate Whole Examples"
				description="Activate Whole Examples"
				categoryId="org.whole.lang.ui.category.static.deployers"
				id="org.whole.examples.command.examplesContributionsDeployer" />
	</extension>

	<extension
			point="org.eclipse.ui.menus">

		<menuContribution
				locationURI="menu:file?after=additions">
			<command
					commandId="org.whole.examples.command.examplesContributionsDeployer"
					label="Activate Whole Examples"
					tooltip="Activate Whole Examples">
			</command>
		</menuContribution>
	</extension>

	<extension
			point="org.eclipse.ui.handlers">
		<handler
				class="org.whole.examples.ExamplesContributionsDeployerHandler"
				commandId="org.whole.examples.command.examplesContributionsDeployer">
		</handler>
	</extension>

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<!-- reusable -->
		<propertyTester
				namespace="org.whole.lang.ui.properties"
				id="org.whole.examples.ui.contributions.EditorPartTester"
				class="org.whole.examples.ui.contributions.EditorPartTester"
				properties="fileEditorInput"
				type="org.eclipse.ui.IEditorPart" />
		<propertyTester
				namespace="org.whole.lang.ui.properties"
				id="org.whole.examples.ui.contributions.EntityPartSelectionTester"
				class="org.whole.examples.ui.contributions.EntityPartSelectionTester"
				properties="hasLanguageURI"
				type="org.eclipse.jface.viewers.ISelection" />
				
		<!-- example specific -->
		<propertyTester
				namespace="org.whole.examples.patterns.properties"
				id="org.whole.examples.patterns.ui.contributions.AbstractFactoryPredicateTester"
				class="org.whole.examples.patterns.ui.contributions.AbstractFactoryPredicateTester"
				properties="matchAbstractFactory"
				type="org.eclipse.jface.viewers.ISelection" />
	</extension>

	<extension point="org.eclipse.core.expressions.definitions">
		<!-- reusable -->
		<definition id="org.whole.lang.ui.definition.NonEmptyIEntityPartSelection">
			<with variable="selection">
				<iterate ifEmpty="false" operator="or">
					<instanceof value="org.whole.lang.ui.editparts.IEntityPart" />
				</iterate>
			</with>
		</definition>

		<definition id="org.whole.lang.ui.definition.NonEmptyIFileSelection">
			<with variable="selection">
				<iterate ifEmpty="false" operator="and">
					<adapt type="org.eclipse.core.resources.IResource">
						<instanceof value="org.eclipse.core.resources.IFile"/>
					</adapt>
				</iterate>
			</with>
		</definition>

		<definition id="org.whole.lang.ui.definition.EditorPartWithFileEditorInput">
			<with variable="activePart">
				<and>
					<instanceof value="org.eclipse.ui.IEditorPart"/>
					<test	forcePluginActivation="true"
							property="org.whole.lang.ui.properties.fileEditorInput" />
				</and>
			</with>
		</definition>

		<definition id="org.whole.lang.ui.definition.ValidIFileSource">
			<and>
				<not>
					<reference definitionId="org.whole.lang.ui.definition.NonEmptyIEntityPartSelection" />
				</not>
				<or>
					<reference definitionId="org.whole.lang.ui.definition.NonEmptyIFileSelection" />
					<reference definitionId="org.whole.lang.ui.definition.EditorPartWithFileEditorInput" />
				</or>
			</and>
		</definition>

		<!-- example specific -->
		<definition
				id="org.whole.examples.patterns.definition.AbstractFactorySelection">
			<with variable="selection">
				<test	forcePluginActivation="true"
						property="org.whole.examples.patterns.properties.matchAbstractFactory"/>
			</with>
		</definition>

		<definition
				id="org.whole.examples.patterns.definition.ValidSelection">
			<or>
				<and>
					<reference definitionId="org.whole.lang.ui.definition.NonEmptyIEntityPartSelection" />
					<with variable="selection">
						<test	args="http://lang.whole.org/Java"
								forcePluginActivation="true"
								property="org.whole.lang.ui.properties.hasLanguageURI" />
					</with>
				</and>
				<reference definitionId="org.whole.lang.ui.definition.ValidIFileSource" />
			</or>
		</definition>
	</extension>

<!-- uncomment to enable statically deployed examples of generators
	<extension	point="org.eclipse.ui.commands">
		<category
				name="Whole Static Generators" 
				id="org.whole.lang.ui.category.static.generators"/>
		<command
				name="Generate products from AbstractFactory"
				description="Generate products from AbstractFactory"
				categoryId="org.whole.lang.ui.category.static.generators"
				id="org.whole.examples.patterns.command.productsGenerator" />
		<command
				name="Generate concrete factory and products from AbstractFactory"
				description="Generate concrete factory and products from AbstractFactory"
				categoryId="org.whole.lang.ui.category.static.generators"
				id="org.whole.examples.patterns.command.concreteFactoryAndProductsGenerator" />
	</extension>

	<extension
			point="org.eclipse.ui.menus">

		<menuContribution
				locationURI="popup:org.whole.lang.ui.source.menu?before=commentGroup">
			<command
					commandId="org.whole.examples.patterns.command.productsGenerator"
					label="Generate products from AbstractFactory (example)"
					tooltip="Generate products from AbstractFactory (example)">
				<visibleWhen>
					<reference definitionId="org.whole.examples.patterns.definition.ValidSelection" />
				</visibleWhen>
			</command>
		</menuContribution>

		<menuContribution
				locationURI="popup:org.whole.lang.ui.source.menu?before=commentGroup">
			<command
					commandId="org.whole.examples.patterns.command.concreteFactoryAndProductsGenerator"
					label="Generate concrete factory and products from AbstractFactory (example)"
					tooltip="Generate concrete factory and products from AbstractFactory (example)">
				<visibleWhen>
					<reference definitionId="org.whole.examples.patterns.definition.ValidSelection" />
				</visibleWhen>
			</command>
		</menuContribution>

	</extension>

	<extension
			point="org.eclipse.ui.handlers">
		<handler
				class="org.whole.examples.patterns.ui.contributions.AbstractFactoryToProductsTransformationHandler"
				commandId="org.whole.examples.patterns.command.productsGenerator">
			<activeWhen>
				<or>
					<reference definitionId="org.whole.examples.patterns.definition.AbstractFactorySelection" />
					<reference definitionId="org.whole.lang.ui.definition.ValidIFileSource" />
				</or>
			</activeWhen>
		</handler>
		<handler
				class="org.whole.examples.patterns.ui.contributions.AbstractFactoryToConcreteFactoryAndProductsTransformationHandler"
				commandId="org.whole.examples.patterns.command.concreteFactoryAndProductsGenerator">
			<activeWhen>
				<or>
					<reference definitionId="org.whole.examples.patterns.definition.AbstractFactorySelection" />
					<reference definitionId="org.whole.lang.ui.definition.ValidIFileSource" />
				</or>
			</activeWhen>
		</handler>
	</extension>
-->
</plugin>
