<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension	point="org.eclipse.ui.commands">
		<category
				name="Whole Examples deployers" 
				id="org.whole.lang.ui.category.static.deployers"/>
		<command
				name="Activate Whole Examples"
				description="Activate Whole Examples"
				categoryId="org.whole.lang.ui.category.static.deployers"
				id="org.whole.examples.command.examplesContributionsDeployer" />
	</extension>

	<extension
			point="org.eclipse.ui.menus">

		<menuContribution
				locationURI="menu:file?after=additions">
			<command
					commandId="org.whole.examples.command.examplesContributionsDeployer"
					label="Activate Whole Examples"
					tooltip="Activate Whole Examples">
			</command>
		</menuContribution>
	</extension>

	<extension
			point="org.eclipse.ui.handlers">
		<handler
				class="org.whole.examples.ExamplesContributionsDeployerHandler"
				commandId="org.whole.examples.command.examplesContributionsDeployer">
		</handler>
	</extension>
</plugin>
