<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
		point="org.whole.lang.deployers">
		<deployer
				desc="Whole IDE Persistence Kits Deployer"
				class="org.whole.lang.java.reflect.JDTPersistenceKitsDeployer"
				id="org.whole.gen.lang.reflect.JDTPersistenceKitsDeployer">
		</deployer>
		<deployer
				desc="Whole IDE Operations Deployer"
				class="org.whole.lang.ide.IDEOperationsDeployer"
				id="org.whole.lang.ide.IDEOperationsDeployer">
		</deployer>
		<deployer
				desc="Whole IDE Contribution Extensions Deployer"
				class="org.whole.lang.ide.IDEContributionExtensionsDeployer"
				id="org.whole.lang.ide.IDEContributionExtensionsDeployer">
		</deployer>
	</extension>

	<extension
			point="org.whole.lang.ui.resourceBindingsContributors">
        <resourceBindingsContributor
              class="org.whole.lang.grammars.ui.GrammarsResourceBindingsContributor"
              id="GrammarsResourceBindingsContributor"/>
	</extension>

	<extension
			point="org.eclipse.jdt.ui.classpathContainerPage">
		<classpathContainerPage
			class="org.whole.lang.jdt.ui.PlatformLibraryContainerPage"
			id="org.whole.lang.ide.WHOLERT_CONTAINER"
			name="Whole Platform Library"/>
	</extension>

</plugin>
