<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.whole.lang.deployers">
      <deployer
            desc="Whole Legacy Languages Deployer"
            class="org.whole.langs.legacy.ui.LegacyUIDeployer"
            id="org.whole.langs.legacy.LegacyLanguagesDeployer">
      </deployer>
   </extension>

  <extension
   	     point="org.eclipse.core.contenttype.contentTypes">
		<content-type
		 		priority="high"
		        id="org.whole.ui.contenttype.contentTypes.xmlWhole"
		        name="XML Whole File"
		        base-type="org.eclipse.core.runtime.xml"
		        default-charset="UTF-8"
		        file-extensions="xwl">
		</content-type>
		
		<content-type
		        id="org.whole.ui.contenttype.contentTypes.javaSource"
		        name="Java Source File (Whole)" 
			    base-type="org.eclipse.core.runtime.text"
			    alias-for="org.eclipse.jdt.core.javaSource"
			    file-extensions="java">
		</content-type>
		<content-type
		        id="org.whole.ui.contenttype.contentTypes.javaScriptSource"
		        name="JavaScript Source File (Whole)" 
			    base-type="org.eclipse.core.runtime.text"
			    alias-for="org.eclipse.wst.jsdt.core.jsSource"
			    file-extensions="js">
		</content-type>

		<content-type
		        id="org.whole.ui.contenttype.contentTypes.javaWhole"
		        name="Java Whole File"
		        base-type="org.eclipse.core.runtime.text"
			    alias-for="org.eclipse.jdt.core.javaSource"
		        file-extensions="java">
		</content-type>

		<content-type
				id="org.whole.ui.contenttype.contentTypes.properties"
				name="Properties Whole File" 
		        base-type="org.eclipse.core.runtime.text"
		        alias-for="org.eclipse.jdt.core.javaProperties"
		        default-charset="ISO-8859-1"
		        file-extensions="properties">
		</content-type>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Java Editor (Whole)"
            extensions="java"
            default="false"
            icon="icons/editors/java_source.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.java.JavaSourceEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.javaSource"/>
      </editor>
      <editor
            name="Java Builder Persistence"
            extensions="java"
            icon="icons/editors/java_builder.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.java.JavaBuilderEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.javaWhole"/>
      </editor>
      <editor
            name="JSON Editor (Whole)"
            extensions="json,jsonld"
            default="false"
            icon="icons/editors/json_source.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.json.JSONSourceEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.text"/>
      </editor>
      <editor
            name="XML Editor (Whole)"
            extensions="xml"
            icon="icons/editors/xml_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.xml.XmlSourceEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.xml"/>
      </editor>
      <editor
            name="XML Builder Persistence"
            extensions="xwl,xml"
            icon="icons/editors/xml_builder.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.xml.XmlBuilderEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.xmlWhole"/>
      </editor>
      <editor
            name="Text Editor (Whole)"
            extensions="text,txt,csv,flf"
            icon="icons/editors/text_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.text.TextSourceEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.text"/>
      </editor>
      <editor
            name="Text Properties Editor"
            extensions="properties"
            icon="icons/editors/properties_text.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.properties.PropertiesTextEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.properties"/>
      </editor>
      <editor
            name="XML Properties Editor"
            extensions="xml"
            icon="icons/editors/properties_xml.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.properties.PropertiesXmlEditor">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.xml"/>
      </editor>
      <editor
            name="XSD Editor"
            extensions="xsd"
            icon="icons/editors/xml_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.xsd.XsdSourceEditor">
      </editor>
      <editor
            name="XSI Editor"
            extensions="xml"
            icon="icons/editors/xml_source.gif"
            default="false"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.xsd.XsiSourceEditor">
      </editor>
      <editor
            name="JavaScript Editor (Whole)"
            extensions="js"
            default="false"
            icon="icons/editors/javascript_source.gif"
            class="org.whole.lang.e4.ui.compatibility.EditorPart"
            id="org.whole.lang.java.JavaScriptSourceEditor">
            <contentTypeBinding contentTypeId="org.whole.ui.contenttype.contentTypes.javaScriptSource"/>
      </editor>
   </extension>

</plugin>
